
/* gloock font : font-family: "Gloock", serif; 
IBM plex font: font-family: "IBM Plex Sans Arabic", sans-serif; 
*/

:root{

    --black:#2F2F2F;
    --yellow : #F5F3EB;
    --white : #FBFBFB;
    --text: #575151;
}

body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    box-sizing: border-box;
 
}

section{
    position: relative;
 
}

.container {
    max-width: 430px;
    min-height: 100vh;
    margin: auto;
 
   
}

.style{

       position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.style .img1{
    width: 15%;
    height: auto;
    transform: scaleX(-1); /* Flip the image horizontally */
    float: right;  
    z-index: -1;
}


.style .img2{
    width: 15%;
    height: auto;
    
  
    
}

.style .img3{
    width: 15%;
    height: auto;
   position: relative;
    top: -220px;  
   right: 55px;
   z-index: 2;
    
    
}


@media screen and (max-width: 420px) {
   
    .style .img3{
       top: -200px;
        
    }

    .style .img2{
        top: -130px;
    }
}

nav {

z-index: 100;
position: sticky;

}

nav .nav-cont{

    background: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
nav .nav-cont .logo img{

width: 50px;
}

.nav-cont ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 15px;
}

.nav-cont ul li img{

    width: 15px;    
}

.nav-cont ul li:hover{

    transition: 0.1s ease-in-out;
    transform:translateY(-2px);
    cursor: pointer;
}

/* main image and content */

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top:20px;

}

.main .main-img img{
    width: 60%;
}

.main .main-content h1{
    font-family: "Gloock", serif;
    font-size: 20px;
    color: var(--black);
    margin-bottom: 20px;
    font-weight: 400;
    text-transform:capitalize;

    
}

.main .main-content p,
.tag
{
    font-family: "Gloock";
    font-size: 10px;
    color: var(--text);

    font-weight: 300;
    letter-spacing: 6px;
    border-bottom: 1px solid var(--text);
   padding-bottom: 10px;
    
}

.additional-content{
    color:var(--black);
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-size: 11px;
    font-weight: 400;
}


/* section2 */

.gallery{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:50px;
    text-align: center;
}
.item img{
    width: 60%;
    height: auto;

}

.item img:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.item-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.item-content h3{
   font-family: "Gloock";
    font-size: 12px;
    color: var(--black);
text-align: center;
    font-weight: 300;
    letter-spacing: 8px;
  text-transform: uppercase;
}

.item-content a{
    background: var(--black);
    color: var(--yellow);
    border: none;
    padding: 10px 20px;
   letter-spacing: 2px;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Gloock";
    font-size: 11px;
    text-decoration: none;
 
}

.item-content a:hover{
    background: var(--yellow);
    color: var(--black);
    border: 1px solid var(--black);
    transition: 0.2s ease-in-out;
}








